<h1>Shopping Cart</h1>
<table class="table table-hover table-bordered">
  <tr>
    <th></th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Update Quantity</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
    <th>Delete Item</th>
  </tr>
  <% @carted_products.each do |carted_product| %>
    <tr>
      <td><img src="<%= carted_product.product.images.find_by(name: "Cover").url %>" style='max-width:100px'></td>
      <td><%= carted_product.product.name %></td>
      <td>
        <%= carted_product.quantity %>
      </td>
      <td>
        <%= form_tag "/cartedproducts/#{carted_product.id}", method: :patch do %>
          <div class="form-group" style='max-width:50px'>
            <%= hidden_field_tag :id, "#{carted_product.id}"%>
            <%= hidden_field_tag :order_id, "#{carted_product.order_id}"%>
            <%= text_field_tag :quantity, "", class: "form-control"%>
            <%= submit_tag "Update!" %>
          </div>
        <% end %>
      </td>
      <td><%= number_to_currency(carted_product.product.price*carted_product.quantity, unit: "$") %></td>
      <td><%= number_to_currency(carted_product.product.price*carted_product.quantity*0.09, unit: "$") %></td>
      <td><%= number_to_currency(carted_product.product.price*carted_product.quantity*1.09, unit: "$") %></td>
      <td>
        <%= form_tag "/cartedproducts/#{carted_product.id}", method: :delete do %>
          <div class="form-group" style='max-width:30px'>
            <%= hidden_field_tag :id, "#{carted_product.id}"%>
            <%= submit_tag "Delete!" %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Order Total</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency(@order.subtotal, unit: "$") %></td>
    <td><%= number_to_currency(@order.tax, unit: "$") %></td>
    <td><%= number_to_currency(@order.total, unit: "$") %></td>
    <td></td>
  </tr>
</table>

<%= button_to "Buy Now!", "/orders/#{@order.id}", method: :patch, class: "btn btn-primary" %>