<div class="container show-container">
  <div class="container show-border-style">
    <div class="show-border-style-head">
      <h2>Your Order!</h2>
    </div>
    <ul>
      <li>Product Name: <%= Product.find_by(id: @order.product_id).name %></li>
      <li>Quantity: <%= @order.quantity %></li>
      <li>Subtotal: $<%= @order.subtotal %></li>
      <li>Tax: $<%= @order.tax %></li> <!--why isn't it showing the extra 0?-->
      <li>Total: $<%= @order.total %></li>
    </ul>
  </div>
</div>