<div class="container show-container">
  <div class="container show-border-style">
    <div class="container col-md-7">
      <div class="show-border-style-head">
        <h2>Your Order!</h2>
      </div>
      <ul>
        <li>User email: <%= @user.email %></li>
        <li>Product Name: <%= @product.name %></li>
        <li>Quantity: <%= @order.quantity %></li>
        <li>Subtotal: <%= number_to_currency(@order.subtotal, :unit => "$") %></li>
        <li>Tax: <%= number_to_currency(@order.tax, :unit => "$") %></li>
        <li>Total: <%= number_to_currency(@order.total, :unit => "$") %></li>
      </ul>
    </div>
    <div class="container col-md-5">
      <p><img src="<%= @cover.url %>" style='max-width:300px' ></p>
    </div>
  </div>
</div>