<ul>
  <li><img class="img_responsive" src="<%= @product.image %>" style="width:100px;"></li>
  <li>Name: <%= @product.name %></li>
  <li>Price: $<%= @product.price %></li>
  <li>Developer: <%= @product.developer %></li>
  <li>Description: <%= @product.description %></li>
  <li>Consoles: <%= @product.console %></li>
  <li>Rating: <%= @product.rating %></li>
</ul>